@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

body {
	background: url('http://www.writteninpencil.de/Projekte/Hangman/hangman-bg.png') fixed;
	text-align: center;
	font-family: Helvetica, sans-serif;
}
input {
	border: 2px solid #999;
	font-family: Helvetica, sans-serif;
	color: #999;
}

#ratefeld {
	font-family: 'Permanent Marker', 'cursive';
	font-size: 2.0em;
}

h1 {
	font-family: 'Permanent Marker', 'cursive';
}