.navbar a {
    color: #000 !important;
}

.jumbotron hr {
    border-top: 1px solid #000;
}

.biodata hr {
    width: 250px;
    border-top: 3px solid #000;
}

.text-center h2 {
    color: #000;
}

.portofolio card-body {
    width: 100px
}

body {
    padding-top: 25px;
    padding-bottom: 30px;
    background-image: linear-gradient(to left, #d2e6ee, #c9dee6, #bfd5de, #b6cdd7, #adc5cf)
}

.btn {
    background: #008BC6 !important;
}

.portofolio a {
    color: #fff;
}


#biodata h2 {
    font-family: verdana !important;
}


#sosmed {
    background: #E1EDF2;
    padding: 100px 0;
}

#sosmed p {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

.sosmed-icon img {
    width: 60px;
    transition: 0.5s;
}

.sosmed-icon a:hover img {
    transform: translateY(-10px);
}

.fotos img {
    width: 100%;
}

/* #biodata {
    background-image: linear-gradient(to top, #0081cf, #00a3db, #4cc3df, #89e1e4, #c4fcef);
    /* background: #2C73D2; */
/* padding: 15px 0;
} */

/* background-image: linear-gradient(to left, #d2e6ee, #c9dee6, #bfd5de, #b6cdd7, #adc5cf) */